*{
  margin:0px;
  padding:0px;
  font-family: 'Poppins', sans-serif;
}
@keyframes example {
  0%{ background-color:#17202A }
  50%  {background-color:#1B2631 ;}
  100% {background-color: #4D5656 ;}
}
body{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  min-height:100vh;
  animation-name:example;
  animation-duration:4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

/* .title */
.title{
  margin-top:10px;
  display:flex;
  justify-content:space-between;
}
.logo{
  font-size:35px;
  color:aliceblue;
  margin-left:10px;
  font-weight:bolder;
}
.logo span{
  color:red;
}
.links{
  display: flex;
  flex-direction:row;
  gap:2rem;
  margin-right:30px;
}
.links li{
  list-style-type: none;
  font-size:20px;
  transition:.5s;
  animation-delay:.5s;
  transform:translateY(5px);
}
.title li:hover{
  transform:scale(0.9);
}
a{
  color:white;
  text-decoration: none;
}
.title a:hover{
  color:lime;
  background-color:rgb(90, 23, 99);
  box-shadow:02px 2px 3px 2px lime;
}
.menu_bar{
  font-size:3rem;
  color:white;
}
.menu_bar:hover{
  cursor:pointer;
}
.dropdown{
  display:none;
  position:absolute;
  right:2rem;
  overflow:hidden;
  height:0px;
  top:60px;
  width:240px;
  border-radius:20px;
  background:rgba(255, 255, 255, 0.2);
}
.dropdown.open{
  height:240px;
}
.dropdown li{
  list-style-type: none;
  padding:10px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.dropdown li a{
  color:rgb(38, 75, 75);
}
.menu_bar{
  display:none;
}

/* main */
.mine{
  display:flex;
  justify-content: space-around;
  align-content:center;
  margin:30px ;
}
.info{
  display:flex;
  flex-direction:column;
  justify-content: center;
  font-size:larger;
  color:#FFFFCC
  ;
}
@keyframes text-coming-after {
  0% {
    opacity:0.1;
    transform: translateX(-20px);
  }
  50%
  {
    opacity:0.5;
    transform:translateX(-10px)
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.info h1 span {
  color: red;
  opacity: 0;
  display: inline-block;
  animation: text-coming-after 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}

.social{
  margin-top:30px;
  display: flex;
  justify-content:space-around;

}
.social a i{
  font-size:36px;
  padding:2px;
  border:2px solid white;
  border-radius:30%;
}

.image{
  max-width:400px;
  height: auto;
}
.image img {
  width:100%;
  height: auto;
  border-radius:50%;
  border:10px solid white;
}

/* skill */
.skill {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 10px 30px 10px;
}

.skill .box {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #f1f1f1;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}


.skill .box img {
  width: 100%;
  height: auto;
}

.skill .box .content {
  padding: 20px;
}
/* footer */
footer{
  background-color:pink;
  padding:1rem;
  text-align:center;
  margin-top: auto;
}

footer li{
  list-style-type: none;
  padding:10px;
}
footer li:first-child{
  font-size:30px;
  font-weight:bolder;
}
footer li:last-child{
  font-size:20px;
  font-weight:500;
}

@media (max-width:950px) and (min-width:801px){
  .skill .box{
    width:250px;
  }
  .skill .box .content{
    padding:10px;
  }
  .image img:hover{
    box-shadow: 0 4px 6px 10px lime;
    transition: 1s;
    transform:translateY(-10px);
  }
  .skill .box:hover {
    transform: translateY(-10px);
    transition:.3s;
    box-shadow: 0 4px 6px 10px lime;
  }
  .social a i:hover{
    background-color:rgb(20, 168, 40);
    transition: .5s;
    transform:translateY(-5px);
    box-shadow: 0 4px 6px 2px  rgb(20, 168, 40);
    border:2px solid skyblue;
  }
}
@media (max-width:800px){
  /* header */
  .social a i:click{
    background-color:rgb(20, 168, 40);
    transition: .5s;
    transform:translateY(-5px);
    box-shadow: 0 4px 6px 2px  rgb(20, 168, 40);
    border:2px solid skyblue;
  }
  .dropdown{
    display:flex;
    flex-direction:column;
  }
  .title .links{
    display: none;
  }
  /* main info */
  .info{
    font-size: medium;
  }
  
  /* skills */
  .skill{
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
  }
  .skill .box{
    margin:10px;
    width:500px;
    height:500px;
  }
  .skill .box .content{
    padding: 30px;
  }
  .menu_bar{
    display:inherit;
  }
  }
@media (max-width:689px){
  .image{
    min-width:200px;
  }
  .mine{
    flex-direction:column-reverse;
  }
  .mine .info{
    font-size:15px;
  }
}
@media (max-width:500px){
  .skill .box{
    width:300px;
    height:400px;
  }
  .skill .box .content{
    padding: 10px;
  }
}
@media (max-width:300px){
  .logo{
    font-size:20px;
  }
  .menu_bar{
    font-size:30px;
  }
  .info h1{
    font-size:20px;
  }
  .skill .box{
    width:200px;
    height:auto;
  }
  .skill .box .content{
    font-size:10px;
    padding: 10px;
  }
  footer li:first-child{
    font-size:15px;
    font-weight:bolder;
  }
  footer li:last-child{
    font-size:10px;
    font-weight:500;
  }
  
}